<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="QlikViewWorkBench">
      <section name="General" type="System.Configuration.NameValueSectionHandler" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <QlikViewWorkBench>
    <General>
      <add key="Proxy" value="/Proxy.aspx" />
      <add key="LogFile" value="" />
      <add key="QvAjaxZfcPath" value="http://FRPAR-LFT2/QvAjaxZfc/" />
    </General>
  </QlikViewWorkBench>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>